@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600&family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*=================
    FONT classes
  ================*/

.workSans{
	font-family: 'Work Sans', sans-serif;
}
.sourceCodePro{
	font-family: 'Source Code Pro', monospace;
}
.audiowide{
	font-family: 'Audiowide', cursive;
}
.monoton{
	font-family: 'Monoton', cursive;
}
.turretRoad{
	font-family: 'Turret Road', cursive;
}
.notoSansMono{
	font-family: 'Noto Sans Mono', monospace;
}
.novaFlat{
	font-family: 'Nova Flat', cursive;
}

/*========================================
    GLOBAL element and component styles
  =======================================*/
html, body {
	margin: 0;
  	padding: 0;
  	height: 100vh;
  	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scrollbar-width: 0.5em;
	font-family: 'Work Sans', sans-serif;
}

a, button {
	text-decoration: none;
	cursor: pointer;
	font-family: 'Work Sans', sans-serif;
	border-radius: 15px;
}

a:hover {
	text-decoration: underline;
}

::selection{
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
	width: 15px;
}
  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
	background: var(--chartreuse); 
	box-shadow: inset -1px -2px 8px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

/* Invisible scrollbar on mobile */
@media screen and (max-width: 600px) {
	::-webkit-scrollbar {
		width: 0px;
	}
	  
	::-webkit-scrollbar-track {
		box-shadow: none; 
	}
	   
	::-webkit-scrollbar-thumb {
		background: rgba(0,0,0,0); 
		box-shadow: none; 
	}
}

.material-symbols-outlined {
	font-size: inherit;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#docs table{
	margin-top: 2vh;
}

#docs table, th, td{
	border: 1px solid var(--l-fadetext);
	border-collapse: collapse;
}

#docs th{
	font-weight: 700;
	padding: 0.8em 0.5em 0 0.5em;
	border-bottom-width: 2px;
	min-width: 8vw;
	font-size: 16px;
}

#docs td{
	padding: 0.8em 0.5em 0.8em 0.5em;
	font-size: 15px;
}

#docs code{
	font-size: 16px;
	font-family: 'Source Code Pro', monospace;
	color: var(--l-dir);
}

.functionBtn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.editable{
	cursor: pointer;
}

.memRow input, .regRow input{
	width: 45%;
	margin-left: 5%;
}

#filename input{
	width: 25%;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
}

#c-ctr.console-highlighted #consoleCtr{
	border-style: none;
}

#sim-view #sim-status{
	max-width: 70vw;
	justify-content: flex-end;
}

#sim-view .tinyBtn{
	margin-top: 0;
	margin-left: 2em;
}

/*==============================
    DARK MODE component styles
  =============================*/
:root{
	--d-shade: #000000;
	--d-border: #000000;
	--d-textarea: #2A2A2A;
	--d-highlight: #313131;
	--d-body: #3E3E3E;
	--d-tint: #4B4B4B;
	--d-select: #595959;
	--d-alt: #2C2E35;
	--d-alt-shade: #29314E;
	--d-alt-tint: #3E3E3E;
	--d-dir: #F6F180;
	--d-comment: #80B49A;
	--d-instr: #FFAB40;
	--d-loc: #4BCFFF;
	--d-reg: #8786CC;
	--d-val: #CE608C;
	--d-fadetext: #D4D0CE;
	--d-text: #FCFCFC;
}

body.dark{
	color: var(--d-text);
	background-color: var(--d-body);
	scrollbar-color: var(--l-comment) var(--l-textarea);
}

.dark #docs *:not(#featureCompo *)::selection{
	background-color: var(--d-alt-tint);
}

.dark .console-highlighted{
	border-width: 4px;
	border-style: double;
	border-color: var(--d-tint);
	animation: 1.8s blinkDark cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes blinkDark{
	40%,75%{
		border-color: var(--d-tint);
	}
	45%,70%{
		border-color: var(--l-loc);
	}
}

.dark a {
	color: var(--d-dir);
}

.dark #help{
	background-color: rgb(42,42,42);
    border: 5px double var(--d-tint);
}

.dark #header{
	background-color: var(--d-textarea);
}

.dark #lc3, .dark #docs h2{
	color: var(--d-instr);
}

.dark #docs p{
	color: var(--d-fadetext);
}

.dark #docs th{
	border-bottom-color: var(--d-instr);
}

.dark .menu-item{
	border: 1px solid var(--d-border);
	background-color: var(--d-body);
	box-shadow: 1px 2px var(--d-highlight);
	color: var(--d-fadetext);
}

.dark .menu-item:hover{
	transition: 0.25s ease-in-out;
	background-color: var(--d-shade);
	box-shadow: inset 4px 4px 6px rgba(0,0,0,0.8);
}

.dark .menu-item:active{
	background-color: var(--d-fadetext);
}

.dark .menu-item, .dark #console-inner{
	color: var(--d-fadetext);
}

.dark .menu-item:active{
	color: var(--d-textarea);
}

.dark .menu-item p{
	font-weight: 400;
}

.dark #switch{
	background-color: var(--d-body);
	box-shadow: inset 1px 1px 3px var(--d-border);
}

.dark #switch section{
	border: 1px solid var(--d-border);
	box-shadow: 1px 1px var(--d-border);
}

.dark button{
	color: var(--d-fadetext);
	border: 2px solid var(--d-highlight);
}

.dark .functionBtn, .dark .tinyBtn{
	background-color: var(--d-tint);
	font-size: 22px;
	box-shadow: 1px 1px var(--d-border);
}

.dark #buttonSet button{
	background-color: var(--d-body);
	color: var(--d-textarea);
	box-shadow: 1px 1px var(--d-border);
	border-color: var(--d-textarea);
}

.dark .functionBtn:hover, .dark .tinyBtn:hover, .dark #buttonSet button:hover{
	transition: 0.3s;
	background-color: var(--d-body);
	filter: brightness(1.1);
}

.dark .switchBtn{
	background-color: var(--d-alt);
	font-size: 16px;
	box-shadow: 1px 1px var(--d-highlight);
}

.dark .switchBtn:hover{
	transition: 0.3s;
	filter: brightness(1.4);
	background-color: var(--d-shade);
}

.dark .functionBtn:active, .dark .switchBtn:active, .dark #buttonSet button:active{
	background-color: var(--d-fadetext);
	color: var(--d-textarea);
}

.dark #filename, .dark #filename input, .dark #jump-input{
	color: var(--d-fadetext);
}

.dark .componame{
	color: var(--d-tint);
}

.dark .lightup{
	color: var(--l-loc);
}

.dark #regCtr .lightup{
	color: var(--d-instr);
	font-weight: 800;
}

.dark #editorCtr, .dark #consoleCtr, .dark #regCtr, .dark #memCtr{
	background-color: var(--d-textarea);
	border: 2px solid var(--d-border);
	border-top-color: var(--d-tint);
	border-left-color: var(--d-tint);
	box-shadow: 1px 2px var(--d-highlight);
	cursor: text;
}

.dark #c-ctr:not(.console-highlighted) #consoleCtr:hover{
	border-color: var(--l-body);
	transition: 0.1s;
}

.dark .regRow, .dark memRow{
	background-color: var(--d-textarea);
}

.dark #editorCtr{
	color: var(--d-fadetext);
}

.dark .highlighted{
	background-color: var(--d-highlight);
}

.dark #console-inner.empty{
	color: var(--d-select);
}

.dark .regRow:hover, .dark .memRow:hover{
	background-color: var(--d-select);
}

.dark #jump-buttons div:hover, .dark #jump-express:hover{
	transition: 0.2s;
	color: var(--d-loc);
}

.dark #sim-status-not-ready.stoplight-active{
	background-color: var(--d-textarea);
	color: var(--d-text);
}

.dark #sim-status-ready.stoplight-active{
	background-color: var(--l-orig);
	color: var(--d-text);
	box-shadow: none;
}

.dark #sim-status-running.stoplight-active{
	background-color: var(--d-instr);
	color: var(--d-text);
	box-shadow: none;
}

.dark .stoplight{
	color: var(--d-tint);
	background-color: var(--d-textarea);
	border: 1px solid var(--d-border);
	box-shadow: inset 1px 1px var(--d-border);
}

/*================================
    LIGHT MODE component styles
  ===============================*/
:root{
	--l-shade: #000000;
	--l-border: #8F878C;
	--l-textarea: #FCFCFC;
	--l-highlight: #F0F0F0;
	--l-body: #E2E2DF;
	--l-tint: #F4F4F4;
	--l-select: #B2DAFF;
	--l-alt: #F5F4F2;
	--l-alt-shade: #D4D2CE;
	--l-alt-tint: #C8C7E0;
	--l-orig: #209325;
	--l-dir: #0097A7;
	--l-comment: #908c8f;
	--l-instr: #FF3724;
	--l-loc: #4241A9;
	--l-reg: #8785e0;
	--l-val: #BB178A;
	--l-fadetext: #8F878C;
	--l-text: #29314E;
}

body.light{
	color: var(--l-text);
	background-color: var(--l-body);
	scrollbar-color: var(--l-loc) var(--l-alt-shade);
}

#console-inner::selection, #jump-input::selection, #filename input::selection, .light #docs *:not(#featureCompo *)::selection{
	background-color: var(--l-select);
	color: var(--l-text);
}

.light .console-highlighted{
	border-width: 4px;
	border-style: double;
	border-color: darkgrey;
	animation: 1.8s blinkLight cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes blinkLight{
	40%,75%{
		border-color: darkgrey;
	}
	45%,70%{
		border-color: var(--l-select);
	}
}

.light a {
	color: var(--l-val);
	font-weight: 500;
}

.light #help{
	background-color: rgb(244,244,244);
    border: 5px double var(--l-alt-tint);
}

.light #header{
	background-color: var(--l-alt);
}

.light #lc3, .light #docs h2{
	color: var(--l-loc);
}

.light #docs th{
	border-bottom-color: var(--l-loc);
}

.light .menu-item{
	border: 1px solid var(--l-border);
	background-color: var(--l-tint);
	box-shadow: 1px 2px var(--l-alt-tint);
	color: var(--l-text);
}

.light .menu-item:hover{
	transition: 0.25s ease-in-out;
	background-color: var(--l-alt-shade);
	box-shadow: inset 4px 4px 6px rgba(0,0,0,0.4);
}

.light .menu-item:active{
	background-color: var(--l-text);
}

.light .menu-item, .light #console-inner{
	color: var(--l-text);
}

.light .menu-item:active{
	color: var(--l-textarea);
}

.light .menu-item p{
	font-weight: 500;
}

.light #switch{
	background-color: var(--l-alt-tint);
	box-shadow: inset -1px 1px 3px var(--l-border);
}

.light #switch section{
	border: 1px solid var(--l-border);
	box-shadow: inset -1px -2px var(--l-select);
}

.light .functionBtn, .light .tinyBtn{
	background-color: var(--l-tint);
	border: 2px solid lightgrey;
	box-shadow: 1px 1px var(--l-border);
	color: var(--l-loc);
	font-size: 22px;
}

.light #buttonSet button{
	background-color: var(--l-highlight);
	color: var(--d-reg);
	box-shadow: 1px 1px var(--l-loc);
	border-color: var(--d-reg);
}

.light .functionBtn:hover, .light .tinyBtn:hover, .light #buttonSet button:hover{
	transition: 0.3s;
	filter: brightness(1.05);
	background-color: var(--l-body);
}

.light .switchBtn{
	background-color: var(--l-alt-shade);
	border: 2px solid rgb(190, 190, 190);
	box-shadow: 1px 1px var(--l-border);
	font-size: 16px;
}

.light .switchBtn:hover{
	transition: 0.3s;
	border: 2px solid grey;
	filter: brightness(1.4);
	background-color: var(--l-comment);
}

.light .functionBtn:active, .light .switchBtn:active, .light #buttonSet button:active{
	background-color: var(--l-text);
	color: var(--l-textarea);
}

.light #buttonSet button:active{
	border-color: var(--d-reg) !important;
}

.light #filename{
	color: var(--l-fadetext);
}

.light .componame{
	color: var(--l-alt-shade);
}

.light .lightup{
	color: var(--l-select);
}

.light #regCtr .lightup{
	color: var(--d-val);
	font-weight: 800;
}

.light #jump-input::placeholder{
	color: darkgrey;
}

.light #editorCtr, .light #consoleCtr, .light #regCtr, .light #memCtr{
	background-color: var(--l-textarea);
	border: 2px solid var(--l-comment);
	border-top-color: lightgrey;
	border-left-color: lightgrey;
	box-shadow: 1px 2px lightgrey;
	cursor: text;
}

.light #c-ctr:not(.console-highlighted) #consoleCtr:hover{
	border-color: var(--d-textarea);
	transition: 0.1s;
}

.light .regRow, .light memRow{
	background-color: var(--l-textarea);
}

.light #editorCtr{
	color: var(--l-fadetext);
}

.light .highlighted{
	background-color: var(--l-highlight);
}

.light #console-inner.empty{
	color: var(--l-fadetext);
}

.light .regRow:hover, .light .memRow:hover{
	background-color: var(--l-select);
}

.light #jump-buttons div:hover, .light #jump-express:hover{
	transition: 0.2s;
	color: var(--l-reg);
}

.light #sim-status-not-ready.stoplight-active{
	background-color: var(--l-alt-shade);
	color: var(--l-text);
}

.light #sim-status-ready.stoplight-active{
	background-color: var(--l-select);
	color: var(--l-text);
	box-shadow: none;
}

.light #sim-status-running.stoplight-active{
	background-color: var(--d-dir);
	color: var(--l-text);
	box-shadow: none;
}

.light .stoplight{
	color: darkgrey;
	border: 1px solid var(--l-border);
	background-color: var(--l-alt-shade);
	box-shadow: inset 1px 1px var(--l-comment);
}

/*==================================
    MONACO EDITOR style overrides
  =================================*/

.monaco-editor::selection{
	background-color: var(--l-select);
}

.monaco-editor .line-numbers.active-line-number{
	color: var(--d-loc);
}

.decorationsOverviewRuler{
	width: 0px !important;
}

.dark .monaco-editor .margin{
	background-color: var(--d-alt) !important;
}

.dark .monaco-editor .mtk1{
	color: var(--d-text) !important;
}

.dark .monaco-editor, .dark .monaco-editor-background{
	background-color: var(--d-textarea) !important;
}

.light .minimap canvas{
	filter: invert(1) brightness(1.18) hue-rotate(120deg);
}

.light .monaco-editor .margin{
	background-color: var(--l-alt) !important;
}

.light .monaco-editor .mtk1{
	color: var(--l-text) !important;
}

.light .monaco-editor, .light .monaco-editor-background{
	background-color: var(--l-textarea) !important;
}

.light .mtk2{
	color: var(--l-text);
}
.light .mtk3{
	color: var(--l-val);
}
.light .mtk4{
	color: var(--l-comment);
}
.light .mtk5{
	color: var(--l-dir);
}
.light .mtk6{
	color: var(--l-loc);
}
.light .mtk7{
	color: var(--l-instr);
}
.light .mtk9{
	color: var(--l-text);
}
.light .mtk10{
	color: var(--l-orig);
}
.light .mtk11{
	color: var(--l-orig);
}
.light .mtk12{
	color: var(--l-reg);
}
.light .mtk13{
	color: var(--d-comment);
}

